A = 'Akrobat', sans-serif;
ABd = 'AkrobatBold', sans-serif;
ABk = 'AkrobatBlack', sans-serif;
OS = 'OldStandardTT', serif;
J = 'Jura', sans-serif

@font-face {
	font-family: 'Akrobat';
	src: url('../fonts/Akrobat.eot');
	src: url('../fonts/Akrobat.eot') format('embedded-opentype'),
		 url('../fonts/Akrobat.woff2') format('woff2'),
		 url('../fonts/Akrobat.woff') format('woff'),
		 url('../fonts/Akrobat.ttf') format('truetype'),
		 url('../fonts/Akrobat.svg#Akrobat') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'AkrobatBlack';
	src: url('../fonts/AkrobatBlack.eot');
	src: url('../fonts/AkrobatBlack.eot') format('embedded-opentype'),
		 url('../fonts/AkrobatBlack.woff2') format('woff2'),
		 url('../fonts/AkrobatBlack.woff') format('woff'),
		 url('../fonts/AkrobatBlack.ttf') format('truetype'),
		 url('../fonts/AkrobatBlack.svg#AkrobatBlack') format('svg');
	font-display: fallback;
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'AkrobatBold';
	src: url('../fonts/AkrobatBold.eot');
	src: url('../fonts/AkrobatBold.eot') format('embedded-opentype'),
		 url('../fonts/AkrobatBold.woff2') format('woff2'),
		 url('../fonts/AkrobatBold.woff') format('woff'),
		 url('../fonts/AkrobatBold.ttf') format('truetype'),
		 url('../fonts/AkrobatBold.svg#AkrobatBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'OldStandardTT';
	src: url('../fonts/OldStandardTT.eot');
	src: url('../fonts/OldStandardTT.eot') format('embedded-opentype'),
		 url('../fonts/OldStandardTT.woff2') format('woff2'),
		 url('../fonts/OldStandardTT.woff') format('woff'),
		 url('../fonts/OldStandardTT.ttf') format('truetype'),
		 url('../fonts/OldStandardTT.svg#OldStandardTT') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Jura';
	src: url('../fonts/Jura.eot');
	src: url('../fonts/Jura.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Jura.woff2') format('woff2'),
		url('../fonts/Jura.woff') format('woff'),
		url('../fonts/Jura.ttf') format('truetype'),
		url('../fonts/Jura.svg#Jura') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}
@import '../_css/bootstrap.min.css'

*
	margin 0
	padding 0
	outline none
body
	font-family: A
	font-size: 20px
	background-color #fff
	color #232939
a
	&:focus
		outline: 0
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 3px
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	text-align: center
	font-size: 30px;
	font-family: OS
	color: rgb(243, 211, 27);
	background-color: transparent
	border: 2px solid rgb(243, 211, 27);
	width 100%
	max-width: 408px;
	height: 54px;
	line-height: 50px;
	margin: 0 auto
	text-decoration: none
	transition: all .3s ease
	&:focus
		text-decoration: none
		color: rgb(243, 211, 27);
		background-color: transparent
	&:hover
		background-color: rgb(243, 211, 27);
		color: #232939
		border-color: #232939
	&-dark
		background-color: #d4af37
		border: 2px solid #000
		color: #000
		&:focus
			background-color: #d4af37
			color #000
		&:hover
			background-color: #000
			border: 2px solid #d4af37
			color: #d4af37
.general-title
	text-align: center
	font-size: 30px;
	font-family: OS
	color: rgb(254, 220, 24);
	line-height: 1;
	margin-bottom: 50px
	padding 0 250px
	overflow hidden
	position relative
	&:before
	&:after
		content: ''
		position: absolute
		width 250px
		height 6px
		background-image url(../img/backs/title-bg.png)
		bottom: 9px
	&:before
		right calc(100% - 250px)
	&:after
		left calc(100% - 250px)
	&-dark
		color #000
@import 'main/0.header'
@import 'main/1.main'
@import 'main/2.for'
@import 'main/3.session'
@import 'main/4.effect'
@import 'main/5.prices'
@import 'main/6.experts'
@import 'main/7.last'
@import 'main/8.footer'
@import 'main/9.medias'