{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          ".gitignore",
          "README.md",
          "/_js",
          "/_css",
          "/_maket",
          "/html",
          "/app"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/experts.mastervision.su",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1566061504493.6138,
          "ctimeMs": 1566061504493.6138,
          "date": "2020-01-16T13:30:36.753Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1579264655552.2214,
          "ctimeMs": 1579264655552.2214,
          "date": "2020-01-17T12:59:06.036Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-16T13:30:37.175Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-16T13:30:37.673Z"
        },
        {
          "file": "fonts/Akrobat.eot",
          "mtimeMs": 1575871908000,
          "ctimeMs": 1575893467815.5388,
          "date": "2020-01-16T13:30:41.852Z"
        },
        {
          "file": "fonts/Akrobat.svg",
          "mtimeMs": 1575871908000,
          "ctimeMs": 1575893467816.5354,
          "date": "2020-01-16T13:30:42.472Z"
        },
        {
          "file": "fonts/Akrobat.ttf",
          "mtimeMs": 1575871908000,
          "ctimeMs": 1575893467816.5354,
          "date": "2020-01-16T13:30:43.009Z"
        },
        {
          "file": "fonts/Akrobat.woff",
          "mtimeMs": 1575871908000,
          "ctimeMs": 1575893467816.5354,
          "date": "2020-01-16T13:30:43.517Z"
        },
        {
          "file": "fonts/Akrobat.woff2",
          "mtimeMs": 1575871908000,
          "ctimeMs": 1575893467816.5354,
          "date": "2020-01-16T13:30:43.981Z"
        },
        {
          "file": "fonts/AkrobatBlack.eot",
          "mtimeMs": 1575871926000,
          "ctimeMs": 1575893467816.5354,
          "date": "2020-01-16T13:30:44.506Z"
        },
        {
          "file": "fonts/AkrobatBlack.svg",
          "mtimeMs": 1575871926000,
          "ctimeMs": 1575893467817.5356,
          "date": "2020-01-16T13:30:45.053Z"
        },
        {
          "file": "fonts/AkrobatBlack.ttf",
          "mtimeMs": 1575871926000,
          "ctimeMs": 1575893467817.5356,
          "date": "2020-01-16T13:30:45.565Z"
        },
        {
          "file": "fonts/AkrobatBlack.woff",
          "mtimeMs": 1575871926000,
          "ctimeMs": 1575893467817.5356,
          "date": "2020-01-16T13:30:46.023Z"
        },
        {
          "file": "fonts/AkrobatBlack.woff2",
          "mtimeMs": 1575871926000,
          "ctimeMs": 1575893467817.5356,
          "date": "2020-01-16T13:30:46.454Z"
        },
        {
          "file": "fonts/AkrobatBold.eot",
          "mtimeMs": 1575871934000,
          "ctimeMs": 1575893467818.5366,
          "date": "2020-01-16T13:30:47.006Z"
        },
        {
          "file": "fonts/AkrobatBold.svg",
          "mtimeMs": 1575871934000,
          "ctimeMs": 1575893467818.5366,
          "date": "2020-01-16T13:30:47.604Z"
        },
        {
          "file": "fonts/AkrobatBold.ttf",
          "mtimeMs": 1575871934000,
          "ctimeMs": 1575893467818.5366,
          "date": "2020-01-16T13:30:48.291Z"
        },
        {
          "file": "fonts/AkrobatBold.woff",
          "mtimeMs": 1575871934000,
          "ctimeMs": 1575893467818.5366,
          "date": "2020-01-16T13:30:48.944Z"
        },
        {
          "file": "fonts/AkrobatBold.woff2",
          "mtimeMs": 1575871936000,
          "ctimeMs": 1575893467818.5366,
          "date": "2020-01-16T13:30:49.556Z"
        },
        {
          "file": "fonts/OldStandardTT.eot",
          "mtimeMs": 1575871990000,
          "ctimeMs": 1575895085251.8406,
          "date": "2020-01-16T13:30:53.514Z"
        },
        {
          "file": "fonts/OldStandardTT.svg",
          "mtimeMs": 1575871988000,
          "ctimeMs": 1575893467819.537,
          "date": "2020-01-16T13:30:54.241Z"
        },
        {
          "file": "fonts/OldStandardTT.ttf",
          "mtimeMs": 1575829394000,
          "ctimeMs": 1575895082343.756,
          "date": "2020-01-16T13:30:54.982Z"
        },
        {
          "file": "fonts/OldStandardTT.woff",
          "mtimeMs": 1575871988000,
          "ctimeMs": 1575893467819.537,
          "date": "2020-01-16T13:30:55.887Z"
        },
        {
          "file": "fonts/OldStandardTT.woff2",
          "mtimeMs": 1575871990000,
          "ctimeMs": 1575895079116.4575,
          "date": "2020-01-16T13:30:56.623Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1575902582667.8606,
          "ctimeMs": 1576084547749.8682,
          "date": "2020-01-16T13:30:57.154Z"
        },
        {
          "file": "img/backs/for-list-decor.png",
          "mtimeMs": 1575904755077.694,
          "ctimeMs": 1575904755320.855,
          "date": "2020-01-16T13:31:00.308Z"
        },
        {
          "file": "img/backs/hr-bg.png",
          "mtimeMs": 1575904760438.724,
          "ctimeMs": 1575904760438.724,
          "date": "2020-01-16T13:31:01.369Z"
        },
        {
          "file": "img/backs/main-bg.png",
          "mtimeMs": 1575906110934.176,
          "ctimeMs": 1575906110934.176,
          "date": "2020-01-16T13:31:01.993Z"
        },
        {
          "file": "img/backs/prices-bg.png",
          "mtimeMs": 1576082444077.4805,
          "ctimeMs": 1576082444077.4805,
          "date": "2020-01-16T13:31:03.046Z"
        },
        {
          "file": "img/backs/title-bg.png",
          "mtimeMs": 1575904739139.585,
          "ctimeMs": 1575904739139.585,
          "date": "2020-01-16T13:31:04.115Z"
        },
        {
          "file": "img/icons/check.png",
          "mtimeMs": 1575902549360.1587,
          "ctimeMs": 1575902549360.1587,
          "date": "2020-01-16T13:31:17.225Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1575902553361.683,
          "ctimeMs": 1575902553361.683,
          "date": "2020-01-16T13:31:17.686Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1575902558607.421,
          "ctimeMs": 1575902558607.421,
          "date": "2020-01-16T13:31:18.103Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1575902563308.0845,
          "ctimeMs": 1575902563308.0845,
          "date": "2020-01-16T13:31:18.532Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1575902568068.0513,
          "ctimeMs": 1575902568068.0513,
          "date": "2020-01-16T13:31:18.950Z"
        },
        {
          "file": "img/images/part-1.png",
          "mtimeMs": 1576084542886.3174,
          "ctimeMs": 1576084543067.7869,
          "date": "2020-01-16T13:31:19.333Z"
        },
        {
          "file": "img/images/part-2.png",
          "mtimeMs": 1575902603628.1455,
          "ctimeMs": 1575902603628.1455,
          "date": "2020-01-16T13:31:19.716Z"
        },
        {
          "file": "img/images/part-3.png",
          "mtimeMs": 1575902608223.0205,
          "ctimeMs": 1575902608223.0205,
          "date": "2020-01-16T13:31:20.102Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1581405854731.3672,
          "ctimeMs": 1581405854731.3672,
          "date": "2020-02-11T07:25:00.019Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1579239766318.1128,
          "ctimeMs": 1579239766318.1128,
          "date": "2020-01-17T06:00:38.916Z"
        },
        {
          "file": "img/backs/for-img.png",
          "mtimeMs": 1576040394624.0647,
          "ctimeMs": 1576079926547.2769,
          "date": "2020-01-16T13:30:59.902Z"
        },
        {
          "file": "img/backs/for-bottom-bg.png",
          "mtimeMs": 1576040701082.1738,
          "ctimeMs": 1576040701082.1738,
          "date": "2020-01-16T13:30:59.371Z"
        },
        {
          "file": "img/backs/for-top-bg.png",
          "mtimeMs": 1576040706081.8684,
          "ctimeMs": 1576040706081.8684,
          "date": "2020-01-16T13:31:00.704Z"
        },
        {
          "file": "fonts/Jura.eot",
          "mtimeMs": 1575967692000,
          "ctimeMs": 1575985906933.1765,
          "date": "2020-01-16T13:30:50.279Z"
        },
        {
          "file": "fonts/Jura.svg",
          "mtimeMs": 1575967692000,
          "ctimeMs": 1575985906935.1782,
          "date": "2020-01-16T13:30:51.078Z"
        },
        {
          "file": "fonts/Jura.ttf",
          "mtimeMs": 1575967692000,
          "ctimeMs": 1575985906937.1804,
          "date": "2020-01-16T13:30:51.864Z"
        },
        {
          "file": "fonts/Jura.woff",
          "mtimeMs": 1575967692000,
          "ctimeMs": 1575985906938.181,
          "date": "2020-01-16T13:30:52.367Z"
        },
        {
          "file": "fonts/Jura.woff2",
          "mtimeMs": 1575967692000,
          "ctimeMs": 1575985906940.1821,
          "date": "2020-01-16T13:30:52.853Z"
        },
        {
          "file": "img/backs/session-bg.png",
          "mtimeMs": 1576079921892.6365,
          "ctimeMs": 1576079921892.6365,
          "date": "2020-01-16T13:31:03.680Z"
        },
        {
          "file": "img/backs/effect-bottom-bg.png",
          "mtimeMs": 1576081798673.047,
          "ctimeMs": 1576082205557.3896,
          "date": "2020-01-16T13:30:57.592Z"
        },
        {
          "file": "img/backs/effect-top-bg.png",
          "mtimeMs": 1576081803736.275,
          "ctimeMs": 1576081803736.275,
          "date": "2020-01-16T13:30:57.981Z"
        },
        {
          "file": "img/backs/ornament.png",
          "mtimeMs": 1576081407649.441,
          "ctimeMs": 1576082426556.4275,
          "date": "2020-01-16T13:31:02.458Z"
        },
        {
          "file": "img/backs/experts-bottom-bg.png",
          "mtimeMs": 1576083794971.036,
          "ctimeMs": 1576083795189.203,
          "date": "2020-01-16T13:30:58.435Z"
        },
        {
          "file": "img/backs/experts-top-bg.png",
          "mtimeMs": 1576083801090.4749,
          "ctimeMs": 1576083801090.4749,
          "date": "2020-01-16T13:30:58.927Z"
        },
        {
          "file": "all/index.html",
          "mtimeMs": 1583390664073.102,
          "ctimeMs": 1583390664073.102,
          "date": "2020-03-05T06:45:40.896Z"
        },
        {
          "file": "css/experts.min.css",
          "mtimeMs": 1579265143739.7346,
          "ctimeMs": 1579265143739.7346,
          "date": "2020-01-17T12:59:05.654Z"
        },
        {
          "file": "img/experts/azrapkina.y.jpg",
          "mtimeMs": 1577094554000,
          "ctimeMs": 1577109074284.3635,
          "date": "2020-01-16T13:31:04.840Z"
        },
        {
          "file": "img/experts/bazanova.l.jpg",
          "mtimeMs": 1577094554000,
          "ctimeMs": 1577109076362.974,
          "date": "2020-01-16T13:31:05.433Z"
        },
        {
          "file": "img/experts/berko.s.jpg",
          "mtimeMs": 1577094556000,
          "ctimeMs": 1577109077988.0693,
          "date": "2020-01-16T13:31:05.991Z"
        },
        {
          "file": "img/experts/gareyeva.o.jpg",
          "mtimeMs": 1577094558000,
          "ctimeMs": 1577109079941.5251,
          "date": "2020-01-16T13:31:06.491Z"
        },
        {
          "file": "img/experts/gizatullina.i.jpg",
          "mtimeMs": 1577094558000,
          "ctimeMs": 1577109082097.8628,
          "date": "2020-01-16T13:31:06.910Z"
        },
        {
          "file": "img/experts/gushina.s.jpg",
          "mtimeMs": 1577198660332.3877,
          "ctimeMs": 1577198660332.3877,
          "date": "2020-01-16T13:31:07.330Z"
        },
        {
          "file": "img/experts/khayretdinova.l.jpg",
          "mtimeMs": 1577094562000,
          "ctimeMs": 1577109085911.6638,
          "date": "2020-01-16T13:31:07.824Z"
        },
        {
          "file": "img/experts/khromyak.e.jpg",
          "mtimeMs": 1577094562000,
          "ctimeMs": 1577109088005.6067,
          "date": "2020-01-16T13:31:08.515Z"
        },
        {
          "file": "img/experts/kirdun.t.jpg",
          "mtimeMs": 1577094564000,
          "ctimeMs": 1577109089880.7722,
          "date": "2020-01-16T13:31:08.985Z"
        },
        {
          "file": "img/experts/kokolova.y.jpg",
          "mtimeMs": 1579181384783.994,
          "ctimeMs": 1579181384783.994,
          "date": "2020-01-16T13:31:09.432Z"
        },
        {
          "file": "img/experts/kryukova.o.jpg",
          "mtimeMs": 1579240766676.035,
          "ctimeMs": 1579240766676.035,
          "date": "2020-01-17T06:00:38.491Z"
        },
        {
          "file": "img/experts/ogol.i.jpg",
          "mtimeMs": 1577094570000,
          "ctimeMs": 1577109097990.9922,
          "date": "2020-01-16T13:31:10.783Z"
        },
        {
          "file": "img/experts/pakina.e.jpg",
          "mtimeMs": 1579265921826.5996,
          "ctimeMs": 1579265921826.5996,
          "date": "2020-01-17T12:59:06.396Z"
        },
        {
          "file": "img/experts/parkhomets.o.jpg",
          "mtimeMs": 1577094572000,
          "ctimeMs": 1577109102538.6125,
          "date": "2020-01-16T13:31:11.647Z"
        },
        {
          "file": "img/experts/phedorinova.i.jpg",
          "mtimeMs": 1577094574000,
          "ctimeMs": 1577109104992.1255,
          "date": "2020-01-16T13:31:12.129Z"
        },
        {
          "file": "img/experts/ponomaryova.g.jpg",
          "mtimeMs": 1577094574000,
          "ctimeMs": 1577109107320.511,
          "date": "2020-01-16T13:31:12.547Z"
        },
        {
          "file": "img/experts/popova.i.jpg",
          "mtimeMs": 1577094576000,
          "ctimeMs": 1577109109695.7698,
          "date": "2020-01-16T13:31:12.968Z"
        },
        {
          "file": "img/experts/rakuts.s.jpg",
          "mtimeMs": 1577094578000,
          "ctimeMs": 1577109114227.412,
          "date": "2020-01-16T13:31:13.407Z"
        },
        {
          "file": "img/experts/revtyukh.a.jpg",
          "mtimeMs": 1577198696722.4934,
          "ctimeMs": 1577198696722.4934,
          "date": "2020-01-16T13:31:13.813Z"
        },
        {
          "file": "img/experts/rojkova.t.jpg",
          "mtimeMs": 1577094610000,
          "ctimeMs": 1577109122648.8335,
          "date": "2020-01-16T13:31:14.225Z"
        },
        {
          "file": "img/experts/sabirovna.g.jpg",
          "mtimeMs": 1577094610000,
          "ctimeMs": 1577109124946.468,
          "date": "2020-01-16T13:31:14.667Z"
        },
        {
          "file": "img/experts/shatskaya.e.jpg",
          "mtimeMs": 1577196850083.3674,
          "ctimeMs": 1577196850083.3674,
          "date": "2020-01-16T13:31:15.082Z"
        },
        {
          "file": "img/experts/shmit.s.jpg",
          "mtimeMs": 1577094614000,
          "ctimeMs": 1577109128791.402,
          "date": "2020-01-16T13:31:15.488Z"
        },
        {
          "file": "img/experts/sivak.n.jpg",
          "mtimeMs": 1577094614000,
          "ctimeMs": 1577109130588.5095,
          "date": "2020-01-16T13:31:15.946Z"
        },
        {
          "file": "img/experts/tkachenko.i.jpg",
          "mtimeMs": 1577094616000,
          "ctimeMs": 1577109132588.7512,
          "date": "2020-01-16T13:31:16.382Z"
        },
        {
          "file": "img/experts/trtyakova.y.jpg",
          "mtimeMs": 1577094618000,
          "ctimeMs": 1577109134511.0815,
          "date": "2020-01-16T13:31:16.827Z"
        },
        {
          "file": "img/experts/nesterchuk.i.jpg",
          "mtimeMs": 1577094568000,
          "ctimeMs": 1577196566924.365,
          "date": "2020-01-16T13:31:10.330Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1577348610901.817,
          "ctimeMs": 1577348610901.817,
          "date": "2020-01-16T13:30:40.690Z"
        },
        {
          "file": "center/index.html",
          "mtimeMs": 1581405855681.0115,
          "ctimeMs": 1581405855681.0115,
          "date": "2020-02-11T07:25:00.724Z"
        },
        {
          "file": "center/all/index.html",
          "mtimeMs": 1583390727012.902,
          "ctimeMs": 1583390727012.902,
          "date": "2020-03-05T06:45:41.281Z"
        },
        {
          "file": "oferta/oferta.docx",
          "mtimeMs": 1578295151294.7227,
          "ctimeMs": 1578295157489.4214,
          "date": "2020-01-16T13:31:21.058Z"
        },
        {
          "file": "img/experts/kuzmicheva.e.jpg",
          "mtimeMs": 1579242423590.9128,
          "ctimeMs": 1579242423590.9128,
          "date": "2020-01-17T06:27:18.259Z"
        },
        {
          "file": "img/experts/gareeva.o.jpg",
          "mtimeMs": 1583389670597.1777,
          "ctimeMs": 1583389670597.1777,
          "date": "2020-03-05T06:45:41.611Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 45 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js/scripts.min.js",
          "tasks": {
            "concat-js": {
              "enable": true
            }
          }
        }
      },
      {
        "file": "app/all.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "all/index.html"
        }
      },
      {
        "file": "app/center-all.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "center/all/index.html"
        }
      },
      {
        "file": "app/center.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "center/index.html"
        }
      },
      {
        "file": "app/img/check.png",
        "config": {
          "autoCompile": false,
          "compileImported": false
        }
      },
      {
        "file": "app/index.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "index.html"
        }
      },
      {
        "file": "app/styl/experts.min.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/experts.min.css"
        }
      },
      {
        "file": "app/styl/ie.min.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/ie.min.css"
        }
      },
      {
        "file": "app/styl/styles.min.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/styles.min.css"
        }
      },
      {
        "file": "img/check.png",
        "config": {
          "autoCompile": false,
          "compileImported": false
        }
      },
      {
        "file": "img/envelope.png",
        "config": {
          "autoCompile": false,
          "compileImported": false
        }
      },
      {
        "file": "img/experts/gareeva.o.jpg",
        "config": {
          "tasks": {
            "jpg": {
              "options": {
                "quality": 89
              }
            }
          },
          "preserveOriginal": false,
          "originalSize": 29851,
          "optimized": true
        }
      },
      {
        "file": "img/for-bg.png",
        "config": {
          "autoCompile": false,
          "compileImported": false
        }
      }
    ]
  }
}
