//- Имя
-name = 'Шмит Светлана';
//- Аватар
-src= '../../img/experts/shmit.s.jpg';
//- Заголовок к дипломам
-diplomas = 'Обучение: Академия Master Vision:';
//- Описание эксперта. Массив
-pp = ['МАК-терапевт, Коуч; Терапевт-диагност по выявлению причин сформировавшие: болезни, слив энергии, тупиковый жизненные ситуации, одиночество, безденежье; проблемы в коллективе, семье и детско-родительских отношениях','Специалист по системным и семейным расстановкам','Специалист по Генным Ключам и Механики человека-программированию ума, стереотипов мышления и реакций заложенной в ДНК коде'];
//- Регалии, дипломы. Массив
-dd = ['Успешно закончила авторский курс Жанны Абра- мовой «МАК-терапия», полный курс «Метафизика заболеваний. Исцеление тела, души и духа», «Тера- певтические и духовные расстановки». Тренинг «Мембершип». Продолжаю обучение на факультативах','Полный курс «Дизайн человека» и «Механика человека» с супервизией по программе А. Ролевой и В. Юриной. Продолжаю обучение по специализа- ции «Трансперсональный анализ личности»','Участник выездного семидневного обучения «Вятичи-2019», преподаватели Ж. Абрамова, В. Юрина, А. Ролева'];
//- Заголовок для запросов
-q_title = 'Практикую в сфере:';
//- Запросы. Массив
-qq1 = ['Родовые/родительские программы и установки','Решение проблемы через установление перво-причины заболевания, тупиковых жизненных ситуаций, застреваний, сливов энергии и финансов, конфликтов, личных границ','Открытие индивидуальности, понимание себя, предназначение'];
//- Запросы 2й столбик. Массив
-qq2 = ['Семейные и детско-родительские отношения','Трансформации блокирующих мысли-форм','Бесконфликтное общение — затруднения в судебных вопросах и вопросов, связанных с гражданством, корпоративные споры'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug