//- Имя
-name = 'Попова Ирина';
//- Аватар
-src= '../../img/experts/popova.i.jpg';
//- Заголовок к дипломам
-diplomas = 'Другое образование:';
//- Описание эксперта. Массив
-pp = ['МАК-терапевт, Лайф-коуч, специалист по системным и семейным расстановкам соматиполог,  мастер эннеаграммы','В МВ  прошла полный курс по МАК-терапии: «МАК-терапия» в психологической практике, Коуч-практик, «МАК-отправная точка заболеваний 2 ступень», «МАК — Восстановление справедливости», «МАК — 4 ступень», курсы «Метафизика — 1 ступень, исцеление первичной клетки», «Анатомия отношений» (автор  Жанна Абрамова)','Участник выездного тренинга Вятичи в сентябре 2018 года (тренеры Ж. Абрамова, А. Кудряшов)'];
//- Регалии, дипломы. Массив
-dd = ['Соматиполог (автор методики К. Шадрин), по внешности определяю, как тело влияет на внешность, характер, отношения, предназначение','Мастер эннеаграммы (автор О. Ичозо) — психологическая модель, описывающая 9 глубинных мотивов, движущих нами на подсознательном уровне','Коучинг с применением метафорических карт (Н. Вострухина, О.Гаркавец)','Системные расстановки (Н. Матвеева, психологияеский центр «Ольвия», г. Москва)','Сертифицированный ведущий Т-игр','В настоящее время прохожу обучение и практику в European Psychological Centre (Salzbutg, Austria), Московском институте психоанализа по программе специальности «психологическое консультирование»'];
//- Заголовок для запросов
-q_title = 'Запросы, с которыми я работаю:';
//- Запросы. Массив
-qq1 = ['Сложные партнерские отношения: эмоциональная и психологическая зависимость, любовный треугольник, симбиоз, кризис отношений','Завершение прошлых связей','Сепарация (родители-дети)','Страхи, фобии, неуверенность в себе'];
//- Запросы 2й столбик. Массив
-qq2 = ['Повторяющиеся родовые сценарии','«Слив» денег, результатов','Конфликты (мужчина-женщина, родитель- ребенок, коллектив-руководитель, внутри себя)','Предназначение, выбор деятельности','Психосоматика, работа с заболеваниями различного генеза'];
//- Пост текст
-else_text = 'Моя тема – отношения. С другими и с самим собой'

include ../0.avatar.pug