//- Имя
-name = 'Пакина Елена';
//- Аватар
-src= '../../img/experts/pakina.e.jpg';
//- Заголовок к дипломам
-diplomas = 'Дипломы, сертификаты, курсы:';
//- Описание эксперта. Массив
-pp = ['42 года. Специалист по работе с психосоматикой заболеваний, с жизненными кризисами, травмами, родовыми сценариями. Очень люблю работать с женщинами, с их женскими задачами. Использую техники трансформации личности, метафорические карты, техники выявления психосоматических причин заболеваний и их устранение, расстановки, индивидуальный подбор техник под конкретную задачу'];
//- Регалии, дипломы. Массив
-dd = ['Метафизика заболеваний. Исцеление тела, души и Духа. Полный курс Жанны Абрамовой','Духовная Интеграционика. Авторская методика К. Довлатова. Полный курс','Рунический рейки. Полный курс Надежды Базилюк'];
//- Заголовок для запросов
-q_title = 'С какими запросами я работаю:';
//- Запросы. Массив
-qq1 = ['Улучшение здоровья','Гармонизация отношений в паре','Гармонизация отношений с родственниками и детьми','Увеличение личных границ, масштаба личности','Увеличение благосостояния','Поиск предназначения, дела, вдохновения'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug