//- Имя
-name = 'Нестерчук Ирина';
//- Аватар
-src= '../../img/experts/nesterchuk.i.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['Психолог-консультант «Центра Семьи». Педагог-психолог среднеобразовательной школы','Выпускница курсов Жанны Абрамовой. Сертифицированный МАК-терапевт, расстановщик','Процессор «Метафизика — исцеление заболеваний»'];
//- Регалии, дипломы. Массив
-dd = ['Куратор курсов Ж. Абрамовой Академии МВ'];
//- Заголовок для запросов
-q_title = 'Направления деятельности:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Детско-родительские отношения. Пойми себя, как родитель, что тобой движет — поймешь, что происходит с твоим ребенком','Взаимоотношения в паре. Нет несчастных пар, есть пары не имеющие знания как сделать свой супружеский союз счастливым'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug