//- Имя
-name = 'Мозырская Гульнара';
//- Аватар
-src= '../../img/experts/sabirovna.g.jpg';
//- Заголовок к дипломам
-diplomas = 'Дипломы и сертификаты:';
//- Описание эксперта. Массив
-pp = ['Спасатель. Педагог. Биоэнерготерапевт. Психолог. Специалист по работе с психосоматикой, по метафарическим картам, расстановкам','ПВ настоящее время прохожу обучение у Жанны Абрамовой по метафизике и коуч'];
//- Регалии, дипломы. Массив
-dd = ['Диплом психолога (Магистратура) — МФПУ','Международный сертификат о профессиональ- ном онлайн-консультировании','Удостоверение о повышении квалификации Педагогика и психология (возрастная психология как основа психолого-педагогического консультирования)','Сертификат-социальная психология','Сертификат по детской психотерапии','Сертификат по методу расстановок (курс Жанны Абрамовой)','Сертификат по метафорическим картам мастерского уровня'];
//- Заголовок для запросов
-q_title = 'Работаю с такими темами:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Детско-родительские отношения','Проблемы подросткового возраста','Выявление причинно-следственной связи с заболеваниями','Психосоматика (работа на любых уровнях)','МАК. Расстановки и работа с родовыми сценариями'];
//- Запросы 2й столбик. Массив
-qq2 = ['Психоэмоциональными состояниями, такими как: чувство вины, одиночество, низкая самооценка, раздражительность, стрессы, тревога, панические атак и т.д.','Семейные конфликты','Проблемы на работе','Детская психодрама'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug