//- Имя
-name = 'Крюкова Ольга';
//- Аватар
-src= '../../img/experts/kryukova.o.jpg';
//- Заголовок к дипломам
-diplomas = 'В результате нашей с вами совместной работы вы избавитесь от низкой самооценки, получите возможность находить выход из негативной ситуации, сможете обрести уверенность в себе, научитесь строить отношения, успешно реализовывать себя, планируя свои действия для получения максимального результата';
//- Описание эксперта. Массив
-pp = ['51 год. Я счастливая жена, и мать взрослого сына. ','Более 20 лет я занимаюсь астрологией. Люди часто приходят к астрологу со своей болью, но на самом деле им нужен целитель души.','Я закончила образовательный Авторский курс Жанны Абрамовой «Метафизика заболеваний. Исцеление тела, Души и Духа». Начала использовать новые методики в работе с клиентами, очень положительные результаты, люди смотрят на мир по-новому'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = 'В своей практике чаще всего работаю с запросами по следующим направлениям:';
//- Запросы. Массив
-qq1 = ['Личностное развитие – деструктивные состояния (стресс, страх, тревожность, одиночество и др.), несправедливые жизненные обстоятельства','Деловые отношения – отношения в коллективе, финансовые проблемы, сложности с поиском работы','Семейные отношения = отношениями с близкими людьми, создание новых отношений, разрешение затянутых конфликтов, эмоциональные травмы после развода, любовные треугольники'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug