//- Имя
-name = 'Шацкая Елена';
//- Аватар
-src= '../../img/experts/shatskaya.e.jpg';
//- Заголовок к дипломам
-diplomas = 'Образование:';
//- Описание эксперта. Массив
-pp = ['52 года. Замужем 25 лет. Проживаю в Санкт-Петербурге. Консультации по Скайпу','Образование: психолог-консультант'];
//- Регалии, дипломы. Массив
-dd = ['СПБ Финансовый Университет. Факультет ФиК (первые 12 лет моей трудовой практики как бухгал- тер-финансист аналитик). В процессе аудита внутренним миром людей и человеческой ресурс- ностью увлеклась более, чем инструментами эф- фективности экономики','СПБ АНО ВО Университет при Межпарламентской Ассамблее ЕврАзЭС (МиЭП). Факультет Психологии.   Специализировалась в НИИ Центрах СПБ как медицинский психолог, затем семейный. Общий практический стаж – более 20 лет'];
//- Заголовок для запросов
-q_title = 'Особенно эффективна моя  работа по:';
-q_title_2 = 'Повышение квалификации:';
//- Запросы. Массив
-qq1 = ['повышению самооценки','коррекции негативных эмоций и чувств (страха, панических атак (ПА), гнева, агрессии, тревоги, обид)','диагностике и устранению устойчивых деструктивных шаблонов мышления, мешающих самораскрытию и отношениям с людьми','сбору Личной Силы в случае эмоционального истощения (и профессионального выгорания)','коррекции разрушительных негативных наследственных  Программ Рода на уровне клетки ДНК (например, наследственных заболеваний) и привлечение Силы Рода','Использую индивидуальный подход мягкий, но эффективный. Запрос решаю за 1-3 посещения. Или провожу курс сессии (по желанию клиента в случае нескольких запросов)'];
//- Запросы 2й столбик. Массив
-qq2 = ['2 модуля Академии МВ (3й – Коуч – в процессе завершения): «МАК-терапия в психологической практике» и «Терапия по методу терапевтических и духовных системных расстановок Берта Хеллингера»'];
//- Пост текст
-else_text = 'Считаюсь Мастером  практик в областях саморазвитие, отношения и здоровье. В процессе исследования убедилась в их тесной взаимосвязи'

include ../0.avatar.pug