//- Имя
-name = 'Коколова Юлия';
//- Аватар
-src= '../../img/experts/kokolova.y.jpg';
//- Заголовок к дипломам
-diplomas = 'Если вы действительно готовы пройти путь по исцелению себя и изменению своей жизни, буду рада быть вашим проводником. Главное начать с себя, и вы обязательно заметите как изменился мир вокруг вас! Для меня важен результат и даже немного больше…';
//- Описание эксперта. Массив
-pp = ['Специалист по психосоматике заболеваний и состояний','Курс «Метафизика заболеваний». «Исцеление тела», Души и духа» Жанны Абрамовой','В настоящее время обучаюсь на курсе Ж. Абрамовой «МАК — Расстановки»'];
//- Регалии, дипломы. Массив
-dd = ['Куратор курсов Ж. Абрамовой Академии МВ'];
//- Заголовок для запросов
-q_title = 'С какими запросами я работаю:';
//- Запросы. Массив
-qq1 = ['Работа с заболеваниями различного генеза','Выявление причин заболеваний у детей, нарушений в поведении','Проработка различных эмоциональных состояний (гнев, обида, ненависть, вина и т. д.)','Работа с личными границами, зоной ответственнос- ти, контроля','Проработка травм насилия'];
//- Запросы 2й столбик. Массив
-qq2 = ['Выявление родовых сценариев и запретов, личных установок, блоков','Работа с созависимостями (в т. ч. лишний вес), симбиозом','Работа с отношениями (родители — дети; взаимо-отношения в семье)','Трансформационные техники «Перезачатие», «Опыт души», «Изобилие на миллион»'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug