//- Имя
-name = 'Гущина Ирина';
//- Аватар
-src= '../../img/experts/gushina.s.jpg';
//- Заголовок к дипломам
-diplomas = 'Курсы:';
//- Описание эксперта. Массив
-pp = ['Практикующий психолог, МАК-терапевт, автор курса «Стратегия победителей: эмоциональный интеллект на практике», руководитель психолого-лингвистических центров «Импульс» в г. Рязани. Запускаю онлайн марафон «В ресурсе» и пишу книгу с таким названием','Помогаю родителям, предпринимателям, думающим людям раскрыть потенциал, избавиться от внутренних блоков, получить доступ к скрытым энергетическим ресурсам'];
//- Регалии, дипломы. Массив
-dd = ['У Жанны прошла «Метафорические ассоциативные карты»'];
//- Заголовок для запросов
-q_title = 'Работаю с такими темами:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Деньги','Детско-родительские отношения','Управление эмоциями (превращаем их в ресурс)','Поиск своего дела','Коррекция жизненных сценариев'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug