//- Имя
-name = 'Базанова Лидия';
//- Аватар
-src= '../../img/experts/bazanova.l.jpg';
//- Заголовок к дипломам
-diplomas = 'Курсы:';
//- Описание эксперта. Массив
-pp = ['Арт-коуч. Психолог. МАК-терапевт. Целитель Рейки',"Помогаю разобраться в хитросплетениях судьбы и выявить причину постоянно повторяющихся негативных событий"];
//- Регалии, дипломы. Массив
-dd = ['У Жанны закончила курсы Метафорические Ассоциативные Карты  и МАК-расстановки','Куратор курсов Ж. Абрамовой Академии МВ'];
//- Заголовок для запросов
-q_title = 'Помогаю:';
-q_title_2 = 'Отвечу на вопросы:';
//- Запросы. Массив
-qq1 = ['Повысить осознанность и включить новые стороны личности','Понять своего мужчину и начать радоваться отношениям','Раскрыть заблокированные ресурсы для изменения жизни','Принять себя и распаковать свои таланты','Исцелить травму детского восприятия','Исцелить боль после разрыва отношений','Исцелить боль от чувства вины','Работаю с родовыми сценариями, влияющие на отношения между мужчиной и женщиной'];
//- Запросы 2й столбик. Массив
-qq2 = ['Любовный треугольник и кто Вы в нем?','Какие ресурсы помогут быть в тонусе, работать эффективно, с удовольствием и хорошо зарабатывать?','Отношения внутри супружеской пары','Отношения со старшим поколением'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug