section.expert
	.container
		h3.expert-name Хайретдинова Лилия
		.about
			img(src='../../img/experts/khayretdinova.l.jpg', alt='Хайретдинова Лилия').about-name
			each p in ['Педагог-психолог,системный терапевт-расстановщик,специалист по работе с психосоматикой,женский тренер,парапсихолог,тета-практик,энерготерапевт,НЛП практик,трансформационный коуч.']
				p.about-text=p
		.row
			.col-md-6
				h4.queries-title С какими запросами я работаю:
				ul.queries-list
					each q1 in ['Психосоматические заболевания (аллергии, высыпания, псориаз, конъюнктивит, панические атаки, заикание, заболевания органов малого таза, давление, мигрень. Работа  на физическом, эмоциональном, ментальном, интуитивном и духовном уровнях)','Страхи, фобии (страх врачей, темноты, выступлений, решений/выбора)']
						li=q1
			.col-md-6
				h4.queries-title Запросы, с которыми я работаю:
				ul.queries-list
					each q2 in ['Психокоррекция, личностное развитие, баланс. Личные границы','Работаю с паническими атаками и всд','Со страхами и фобиями','Приведу вас к самому прекрасному варианту вашего будущего','Помогаю разрешить конфликт в паре']
						li=q2
		+b('button-dark button-expert','../#prices','Записаться','')