//- Имя
-name = 'Берко Светлана';
//- Аватар
-src= '../../img/experts/berko.s.jpg';
//- Заголовок к дипломам
-diplomas = 'Дипломы, сертификаты, курсы:';
//- Описание эксперта. Массив
-pp = ['Коуч-терапевт, Педагог. Закончила школу коучинга Константина Довлатова. Освоила авторскую методику К. Довлатова «Духовная интеграционика». Акара-нумеролог, практик Акаши метода (метод Анны Матари). Мастер по работе с МАК. Процессор Психомагии и быстрых методов трансформации жизни','Работаю в сфере отношений, финансов, целепологания'];
//- Регалии, дипломы. Массив
-dd = ['Закончила у Жанны Абрамовой «Метафорические ассоциативные карты», Расстановки, Коучинг. Курс «Анатомия отношений»','Куратор курсов Ж. Абрамовой Академии МВ'];
//- Заголовок для запросов
-q_title = 'С какими запросами я работаю:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Укрепить отношения в паре','Выйти замуж','Справиться с кризисом в паре и сохранить семью','Повысить материальный  доход','Найти дело по душе и монетизировать его','Быстро достигнуть  вашу цель'];
//- Запросы 2й столбик. Массив
-qq2 = ['Решить любую вашу проблему экологичными способами','Разрешить конфликтные ситуации в семье, на работе, в бизнесе'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug