//- Имя
-name = 'Федоринова Ирина';
//- Аватар
-src= '../../img/experts/phedorinova.i.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['Клинический психолог, арттерапевт, специалист в танцевально-двигательной терапии (развитие эмоционального, телесного интеллекта, доверия). Работа с родом в методе сказкотерапии. НЛП и гипнотерапия','Выпускница курса по метафизики заболеваний Жанны Абрамовой'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = 'С какими запросами я работаю:';
//- Запросы. Массив
-qq1 = ['Провожу группы релаксации классической и по Джекобсону','Работаю с конфликтами( межличностными и внутри- личностными). Стрессоустойчивостью','Взаимоотношения. Самооценка, личностные границы','Тренировка, диагностика, развитие: внимания, памяти, мышления'];
//- Запросы 2й столбик. Массив
-qq2 = ['Психотерапия психосоматических заболеваний','Работа в принятии решений'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug