//- Имя
-name = 'Оголь Ирина';
//- Аватар
-src= '../../img/experts/ogol.i.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['МАК-терапевт (курс Жанны Абрамовой), специалист в методе «Матрица Судьбы» (Школа Дмитрия Воронова и Людмилы Катанаевой). В своей работе применяю, в том числе, техники из арт-терапии, Интегральной графики, НЛП. Провожу системные расстановки «вживую» и онлайн.'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = 'Работаю со следующими запросами:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Карьера, открытие своего бизнеса, новое направление в бизнесе, поиск дела по Душе','Выбор из нескольких вариантов (куда пойти учиться, где отдыхать, какое предложение о работе выбрать и т. д.)','Деньги (причины финансового потолка, денежных «сливов», выход на новый уровень в доходах), кредиты и долги — как научиться жить без них','Отношения с партнером. Выход из одиночества'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug