-name = 'Рожкова Татьяна';

-src= '../../img/experts/rojkova.t.jpg';

-dd = ['Куратор курсов Ж. Абрамовой Академии МВ'];

-pp = ['Психолог. Специалист по работе с психосоматикой заболеваний, специалист по метафорическим картам. Процессор техники «Метафизической анатомии». РПТ-терапевт, женский тренер, специалист по расстановкам и работе с родовыми сценариями. Выпускница курсов Жанны Абрамовой (МАК, Расстановки, коучинг, Тренерский курс, Метафизика заболеваний, Психосоматика, Анатомия отношений)'];

-q_title = 'В решении каких проблем я смогу вам помочь:';

-qq1 = ['БОЛЕЗНИ. В основе любой болячки лежит психологический конфликт. Тело/соматические симптомы; заболевания любой этиологии (психологический аспект); заболевания детей (работа через маму). Спорт и достижения (психологический аспект)','ЛЮБЫЕ ВИДЫ СТРАХОВ. Гипотетические, так и реальные (остаться одной, страх быть отвергнутой, страх рожать, водить машину, страх толпы, страх начать новое дело, или поменять стиль жизни, страх потери близких, страх умереть, страх полета)','ПРОБЛЕМЫ ВО ВЗАИМООТНОШЕНИЯХ. С окружающими (с детьми, с родителями, на работе, с партнерами по бизнесу и т. д.). «Меня не понимают». Коррекция личности','ПРОБЛЕМЫ В КОММУНИКАЦИЯХ. С собой и другими людьми, неспособность чувствовать свои чувства или чувства других людей «когда все меня не понимают»; сложности в выражении своих идей, мыслей, эмоций. Страх публичных выступлений. Карьера, бизнес'];

-qq2 = ''

-else_text = '';

-diplomas = ''
include ../0.avatar.pug