#session
	padding 105px 0 130px
	background-image url(../img/backs/session-bg.png)
	background-repeat no-repeat
	background-position: right bottom
	position relative
	z-index 10
	// background-size: cover
.session-title
	text-align: center
	font-size: 30px
	font-family: OS
	margin-bottom: 45px
.session-text
	line-height: 30px
	margin-bottom: 10px
	span
		font-family: ABk
	&:last-of-type
		margin-bottom: 0
.general-title-session
	margin-top: 45px
.session-item-title
	margin-bottom: 40px
	font-size: 30px
	font-family: OS
	text-decoration: underline
.session-info
	padding-left: 70px
	background-repeat no-repeat
	background-position: top left
	margin-bottom: 45px
	&-1
		background-image url(../img/images/part-1.png)
	&-2
		background-image url(../img/images/part-2.png)
	&-3
		background-image url(../img/images/part-3.png)
		margin-bottom: 55px
.session-hr
	margin 50px auto
	border: 0
	height 6px
	background-image url(../img/backs/hr-bg.png)
.session-before
	margin-bottom: 45px
	padding-left: 82px
	position relative
	&:before
		content: '?'
		display block
		position: absolute
		top 0
		left 0
		font-size: 126px
		line-height: 100px
		color #d4af37
		font-family: J
.session-before-list
	li
		list-style none
		position relative
		padding-left: 14px
		&:before
			content: ''
			display block
			position: absolute
			top 14px
			left 0
			border-radius: 50px
			width: 4px
			height 4px
			background-color: #1A2437