footer
	padding 0 0 20px
	text-align: center
	color #2d2b2c
	h5
		font-size: 24px;
		margin 0
		font-family: ABk
	p
		line-height: 1.786;
.conditions
	color #3068ff
	text-decoration: underline
	&:focus
		color #3068ff
		text-decoration: underline
	&:hover
		color: #3068ff
		text-decoration: none
.soc-buttons
	width 100%
	margin: 0 auto
	a
		display: inline-block
		margin: 15px 7px
		width: 29px;
		height: 29px;
		background-image url(../img/icons/soc-buttons.png)
		background-repeat no-repeat
		transition all .3s ease
		&:hover
			opacity .9
			transform: translateY(-3px)
		&:nth-of-type(1)
			background-position: 0 0
		&:nth-of-type(2)
			background-position: -29px 0
		&:nth-of-type(3)
			background-position: -58px 0
		&:nth-of-type(4)
			background-position: -87px 0
		&:nth-of-type(5)
			background-position: -116px 0