@media screen and (min-width 1900px)
	#main
		background-position: center
@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.main-container
		max-width 1100px
	.general-title
		padding 0 300px
		&:before
			right calc(100% - 300px)
		&:after
			left calc(100% - 300px)
@media screen and (max-width 1199px)
	#for
		margin-top: -20px
	.general-title
		padding 0 170px
		&:before
			right calc(100% - 170px)
		&:after
			left calc(100% - 170px)
		&-effect
			padding 0 300px
			&:before
				right calc(100% - 300px)
			&:after
				left calc(100% - 300px)
		&-experts
			padding 0 100px
			&:before
				right calc(100% - 100px)
			&:after
				left calc(100% - 100px)
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		float: none
		display block
		margin 0 auto 3px
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 17px
		display: inline-block
	.main-container
		padding 50px 30px
	#for
		margin-top: -30px
		padding-bottom: 40px
		&:before
			top -60px
			height 60px
	.general-title::after, .general-title::before
		bottom 27px
	.general-title
		&-effect
			padding 0 200px
			&:before
				right calc(100% - 200px)
				bottom: 9px
			&:after
				left calc(100% - 200px)
				bottom: 9px
	.facultatives-table-col:first-of-type
		padding 40px 30px
		width 40%
	.facultatives-table-col:nth-of-type(2)
	.facultatives-table-col:last-of-type
		padding 40px 30px
		width 30%
@media screen and (max-width 767px)
	.main-title
		font-size: 30px
	.main-subtitle
		margin 20px 0 30px
		width 100%
	.for-list li
		min-height 54px
		margin-bottom: 20px
	.button-for
	.button-effect
		margin-top: 40px
	.general-title
		padding 0 100px
		&:before
			right calc(100% - 60px)
			bottom calc(50% - 6px)
		&:after
			left calc(100% - 60px)
			bottom calc(50% - 6px)
	.effect-list
		max-width 100%
		margin-bottom: 0
		li
			min-height 58px
			margin-bottom: 20px
	.facultatives-table
	.facultatives-table-row
	.facultatives-table-col
		display block
	.facultatives-table-col:first-of-type
	.facultatives-table-col:nth-of-type(2)
	.facultatives-table-col:last-of-type
		width 100%
		text-align: center
		padding 20px
	.facultatives-table-col:first-of-type
		padding-top: 30px
	.facultatives-table-col:nth-of-type(2)
		padding 10px 20px
	.facultatives-table-col:last-of-type
		padding-bottom: 30px
	#prices
		padding 100px 0 150px
@media screen and (max-width 485px)
	body
		font-size: 18px
	#logo
		width 70px
		height 30px
	.contact
		font-size: 12px
		line-height: 14px
		background-size: 14px
		padding-left: 18px
	.main-title
		font-size: 28px
		line-height: 1.3
	.main-container
		padding 30px 20px
	.general-title
		font-size: 26px
		margin-bottom: 35px
		padding 0 70px
	.button-effect, .button-for
		margin-top: 30px
	.button
		font-size: 20px
	.session-title
		font-size: 24px
		margin-bottom: 30px
	.session-item-title
		font-size: 24px
		margin-bottom: 20px
	.session-info
	.session-before
		margin-bottom: 30px
	#experts
		padding 40px 0
	.last-title
		font-size: 26px
		line-height: 1.3
	.last-hr, .session-hr
		margin 30px auto
	footer h5
		font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer
		font-size: 14px
		padding 0 0 15px
@media screen and (max-width 385px)
	.main-title
		font-size: 19px
	.general-title
		padding 0 30px
		font-size: 24px
		&:before
		&:after
		&:before
			right calc(100% - 20px)
		&:after
			left calc(100% - 20px)
	.session-title
		font-size: 22px
		margin-bottom: 20px
	.session-item-title
		text-align: center
	.session-info
		padding 70px 0 0
		background-position: center top
		text-align: center
	.session-before
		padding 80px 0 0
	.session-before:before
		text-align: center
		line-height: 80px
		font-size: 100px
		top 0
		margin 0 auto
		left 0
		right 0
	.facultatives-table-title
		margin-bottom: 15px
	.facultatives-table-col:nth-of-type(2)
		padding 0 20px
	.last-title
		font-size: 22px