section#for
	.container
		+gt('','Этот мастер-класс необходим тем, кто:')
		.row
			.col-md-6.col-sm-6
				ol.for-list
					li Для тех кто, хотел бы справиться или исцелить свои недуги
					li Для тех, кто сомневается или хочет убедиться в качестве своих знаний и навыков, а также исправить недочёты через специалиста
					li Для тех, кто решил профессионально заниматься консультированием и помогать людям и хотел бы через себя прожить сессии по Метафизике. Понять и осознать через себя, как это работает
			.col-md-6.col-sm-6
				ol.for-list.for-list-2(start="4")
					li Для тех, кто хочет увидеть себя во время консультации со стороны (глазами эксперта)
					li Для тех, кому важно экспертное мнение для дальнейшего роста
					li Для тех, кто не может двигаться дальше без проработки собственных травм и проблем
		+b('button-for','#prices','Записаться на сессию','_self')