section#session
	.container
		h4.session-title Позвольте эксперту помочь разобраться с Вашими проблемами по запросу
		p.session-text
			span Сессия эксперта 
			| - это возможность провести настоящую консультацию, которая объективно выведет вас на уровень понимания истиной проблематики. Вы сможете понять причину ваших проблем, заболевания, других недугов, а также исцелить первичную ключевую точку, которая явилась основной причиной вашего проблемного шаблона
		+gt('general-title-dark general-title-session','Сессия эксперта состоит из трёх частей:')
		.session-item
			h5.session-item-title Первая часть:
			.session-info.session-info-1
				p.session-text 
					span Выявление шаблона, который определяет вашу проблему/заболевание
				p.session-text Чтобы исцелить заболевание/проблему, необходимо выявить причинно-следственную связь и найти отправную точку возникновения первичной проблематики
				p.session-text 
					span Например, 
					| аллергия на цитрусовые = в 5 лет в детском саду дети смеялись на новый год над Вашим стихотворением = апельсины на новый год = аллергия на цитрусовые. Аутоиммунное заболевание = бабушка была в плену у немцев = отрицание своего существования (как пример)
		.session-item
			h5.session-item-title Вторая часть:
			.session-info.session-info-2
				p.session-text 
					span Выявление идентификации 
					| в связи с проблемой (заболеванием) и проработка вторичной выгоды удержания деструктивной идентификации
				p.session-text 
					span Например, 
					| проблема в личной жизни = идентификация "недостойная"
		.session-item
			h5.session-item-title Третья часть:
			.session-info.session-info-3
				p.session-text 
					span Прочищение шаблона, вызывающего проблему
				p.session-text Перезагрузка идентификации. Работа со вторичными выгодами. Поиск ресурса для поддержания полученного результата
		+b('button-dark','#prices','Мне это необходимо','_self')
		hr.session-hr
		+gt('general-title-dark general-title-session','Перед основной сессией необходимо:')
		.session-before
			ul.session-before-list
				li 
					span Выбрать эксперта, 
					| к которому вы хотите обратиться за помощью
				li 
					span Провести первичную сессию-примерку 
					| для определения того, с каким конкретно запросом необходимо работать. Не с тем, с чем Вы думаете у Вас проблемы, а с какой-то конкретной проблематикой, о которой Вы можете даже не догадываться
		p.session-text 
			span Сессия примерка 
			| - это выявление истинной причины проблемы клиента. Например, клиент пришел разбираться с отношениями, а в процессе примерки оказалось, что надо работать с его отношениями с отцом и принятием партнера. Либо клиент пришел работать с заболеванием, а оказалось надо работать с собственной самооценкой. Либо пришел работать с деньгами, а первопричиной явилась проблема с личными границами