section#effect
	.container
		+gt('','Эффект от сессии:')
		.row
			.col-md-6.col-sm-6
				ul.effect-list
					li Вы сможете проработать свои проблемы, с которыми не получается разобраться в одиночку
					li Вы сможете найти и проработать причину заболевания
					li Вы сможете провести параллельный самоанализ, посмотреть на себя со стороны и сделать выводы относительно своей компетенции
			.col-md-6.col-sm-6
				ul.effect-list
					li Вы сделаете шаг вперёд на пути совершенствования рабочих навыков
					li Вы обретёте уверенность в себе
					li Вы сможете более гибко проводить консультации и успешно маневрировать в любой ситуации, независимо от уровня сложности
		+b('','#prices','Записаться на сессию','_self')