section#prices
	.container
		+gt('general-title-dark','Выбрать вариант участия в демосессиях:')
		.facultatives-table
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Сессия эксперта по запросу
					p.facultatives-table-text Основная сессия, 
						span 1шт.
				.facultatives-table-col
					h4.facultatives-table-price 3 500 руб.
				.facultatives-table-col
					+b('','','Выбрать','_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Сессия эксперта по запросу
					p.facultatives-table-text Основная сессия, 
						span 3шт.
				.facultatives-table-col
					h4.facultatives-table-price 9 000 руб.
				.facultatives-table-col
					+b('','','Выбрать','_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Сессия эксперта по запросу
					p.facultatives-table-text Основная сессия, 
						span 5шт.
				.facultatives-table-col
					h4.facultatives-table-price 14 000 руб.
				.facultatives-table-col
					+b('','','Выбрать','_blank')
			.facultatives-table-row
				.facultatives-table-col
					h4.facultatives-table-title Сессия эксперта по запросу
					p.facultatives-table-text
						span Сессия-примерка
				.facultatives-table-col
					h4.facultatives-table-price 990 руб.
				.facultatives-table-col
					+b('','','Выбрать','_blank')