section#last
	.container
		h4.last-title Иду за осознанностью и новым будущим, 
			br
			| в котором больше нет места болезням и проблемам!
		+b('button-dark','#prices','Записаться', '_self')
		hr.last-hr