@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		float: none
		display block
		margin 0 auto 3px
	.contacts
		text-align: center
		float: none
	.contact
		line-height: 17px
		display: inline-block
	.main-title
		margin-top: 40px
	.expert
		padding 40px 0 60px
	.expert:nth-of-type(2n):before
		height 40px
		top: -40px
	.expert:nth-of-type(2n):after
		height 40px
		bottom -40px
	.expert-name
		margin-bottom: 30px
	.about-name
		float: none
		margin 0 0 25px
	.diplomas-title
		margin-top: 10px
	.queries-title
	.button-expert
		margin-top: 30px
	.about-text
		&:last-of-type
			margin-bottom: 0
@media screen and (max-width 485px)
	body
		font-size: 18px
	.button
		font-size: 24px
	#logo
		width 70px
		height 30px
	.contact
		font-size: 12px
		line-height: 14px
		background-size: 14px
		padding-left: 18px
	.main-title
		margin-top: 30px
		font-size: 28px
	.expert
		padding 30px 0 50px
	.expert:nth-of-type(2n):before
		height 30px
		top: -30px
	.expert:nth-of-type(2n):after
		height 30px
		bottom -30px
	.expert-name
		font-size: 30px
	footer h5
		font-size: 18px
	.soc-buttons a
		margin 10px 5px
	footer
		font-size: 14px
		padding 0 0 15px
