//- Имя
-name = 'Пархомец Ольга';
//- Аватар
-src= '../img/experts/parkhomets.o.jpg';
//- Заголовок к дипломам
-diplomas = 'Образование:';
//- Описание эксперта. Массив
-pp = ['Психолог, МАК-терапевт, целитель женской души','40 лет, пятеро детей, красный диплом, брак продолжительностью почти 20 лет','Мои клиентки: женщины 35+ в декрете или после декрета, стремящиеся к развитию, самореализации, финансовой независимости. Искренне желающие проработать свои травмы и проблемы, узнать себя настоящую. Нацеленные на совместную плодотворную работу','Но здесь главное — два последних пункта! Так что пишите, даже если вы младше или никогда не были в декрете'];
//- Регалии, дипломы. Массив
//- -dd = ['Экономист, СПБГАУ, 2001 г.','Психолог, красный диплом, МГЭИ, 2015 г.','МАК-терапевт, курс Жанны Абрамовой, студентка курсов «Расстановки» и «Коучинг»'];
-dd = '';
//- Заголовок для запросов
-q_title = 'Что умею:';
-q_title_2 = 'Владею технологиями:';
//- Запросы. Массив
-qq1 = ['Избавляю от страхов, боли,отчаяния, бессилия, разрущающих эмоций','Исцеляю детские травмы','Распутываю Родовые сценарии','Возвращаю любовь к себе и радость жизни','Работаю бережно, уверенно и с величайшим уважением к вашей личной истории'];
//- Запросы 2й столбик. Массив
-qq2 = ['Наладить отношения с партнером, детьми, родителями','Экологично закрыть незавершенные связи и завершить токсичные отношения','Найти себя в декрете и после','Раскрыть свою женственность и творческий потенциал','Выявить и проработать финансовые блоки, убеждения и ограничения','Найти ресурсы и выйти на новый уровень'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug