-name = 'Азрапкина Юлия';

-src= '../img/experts/azrapkina.y.jpg';

-diplomas = 'Дипломы, сертификаты, курсы:';

-pp = ['Психолог, коуч, тренер. Специалист по работе: с психосоматикой заболеваний; с метафорическими картами; по системно полевым процессам, расстановкам и работе с родовыми сценариями. Дизайнер интерьеров, модельер-конструктор. 44 года.','Психолог, коуч, тренер. Специалист по работе: с психосоматикой заболеваний; с метафорическими картами; по системно полевым процессам, расстановкам и работе с родовыми сценариями. Дизайнер интерьеров, модельер-конструктор. 44 года.'];

-dd = ['Психолог МГПУ','Дизайнер интерьеров СШД','Специалист по психосоматике и метафизике заболеваний – 1 и 2 модуль','Коуч-практик. профессиональный коуч','Специалист системным семейным расстановкам','Специалист по метафорическим картам','Психология отношений, психология конфликтов,  школа материнства, школа женственности','Куратор курсов Ж. Абрамовой Академии МВ'];

-q_title = 'С какими запросами я работаю:';

-qq1 = ['Психосоматические заболевания (аллергии, высыпания, псориаз, конъюнктивит, панические атаки, заикание, заболевания органов малого таза, давление, мигрень. Работа  на физическом, эмоциональном, ментальном, интуитивном и духовном уровнях)','Страхи, фобии (страх врачей, темноты, выступлений, решений/выбора)','Психокоррекция, личностное развитие, баланс. Личные границы'];

-qq2 = ['Отношения в паре, любовный треугольник, симбиоз','Карьера, финансы, бизнес','Выбор, предназначение','Работа с детьми через маму','Работа с телом через техники телесно-ориентированной терапии'];

-else_text = 'Провожу системно-полевые процессы online и offline'

include ../0.avatar.pug