//- Имя
-name = 'Гизатуллина Ирина';
//- Аватар
-src= '../img/experts/gizatullina.i.jpg';
//- Заголовок к дипломам
-diplomas = 'Образование:';
//- Описание эксперта. Массив
-pp = '';
//- Регалии, дипломы. Массив
-dd = ['Ташкентский Государственный Университет им. В. И. Ленина, философско-экономический факультет, отделение философии, отделение психологии; специальность: психолог, преподаватель психологии','В настоящее время прохожу обучение на курсах Жанны Абрамовой: «Мак-расстановщик», «процессор «Метафизика — исцеление заболеваний», Коучинг','Сертифицированный МАК-терапевт','Сертификат «Психологическая работа с тревогой: экзистенциально-аналитический подход»','Сертификат «Диагностические комплексы «Профориентатор», «Профкарьера»: основы практического использования','Сертификат по компендиуму психодиагностичес- ких методик. Сертифицированный пользователь «Психологической Автоматизированной Экспертной Системы» («ПАЭС»)','Сертификат «Педагогическое мастерство современного преподавателя вуза в рамках компетентностного подхода»','Сертификация по Клинической психологии. Удостоверение о повышении квалификации «Нейропсихология»'];
//- Заголовок для запросов
-q_title = 'Работа в настоящее время: ';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['индивидуального, семейного консультирования','психологической коррекции психосоматических расстройств и заболеваний','психотерапии функциональных расстройств','индивидуального консультирования населения по вопросам преодоления кризисов личностного и профессионального развития','профориентации, профконсультирования, профконсалтинга и психологического сопровождения профессиональной деятельности','судебно-психологической экспертизы','профориентации, профконсультирования, профконсалтинга и психологического сопровождения профессио- нальной деятельности','групповой работы (проведение тренингов): «гештальт-тренинг», методы телесной терапии («телесно- ориентированный тренинг», метод систематической десенсибилизации, метод прогрессивной мышечной релаксации Джейкобсона), «психодрама», метод визуализации супругов Саймонтонов, Адлерианское консультирование (по методам «Анализ ранних воспоминаний», «Запомнившееся сновидение»)','системно-феноменологическая психотерапия и расстановки в индивидуальном консультировании по Б. Хеллингеру'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug