//- Имя
-name = 'Кузьмичева Елена';
//- Аватар
-src= '../img/experts/kuzmicheva.e.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['50 лет','Психолог. Расстановщик','Мать двоих сыновей'];
//- Регалии, дипломы. Массив
-dd = ['Диплом Института специальной психологии и педагогики им. Рауля Валенберга г. СПб (1999-2003гг), специальнось: специальный психолог, социальный педагог','Выпускница курсов Жанны Абрамовой (МАК, РАССТАНОВКИ, МЕТАФИЗИКА ЗАБОЛЕВАНИЙ, АНАТОМИЯ ОТНОШЕНИЙ)','Слушатель курса школы Б.Хеллингера (Германия 2019 г) - "Отношения в паре и родительство"'];
//- Заголовок для запросов
-q_title = 'Если: ';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Вы устали ходить по кругу','У вас нет сил','Вы хотите избавиться от одиночества и непонимания','Вы не знаете как дальше жить и куда двигаться','Вам надоело чужое влияние, у вас есть ощущение, что живете не своей жизнью или она проходит мимо','Если Вы хотите наладить отношения с близкими, сохранить здоровье, разобраться в причинах происходящего, значит настал решающий момент что-то изменить! В такой момент нужен тот, кто поможет Вам разобраться с происходящим и найти в СЕБЕ новые силы'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug