//- Имя
-name = 'Ракуц (Паульс) Светлана';
//- Аватар
-src= '../img/experts/rakuts.s.jpg';
//- Заголовок к дипломам
-diplomas = 'Большое внимание уделяю выявлению зависимости здоровья и поведения деток от внутреннего климата семьи, от душевного состояния родителей';
//- Описание эксперта. Массив
-pp = ['Я – практик РПТ (техника мгновенных личностных трансформации), работаю с Родовыми программами, прохожу обучение на курсе «Психотерапевт-практик» (Институт Инновационных Психотехнологий, С. В. Ковалев), психокоррекция здоровья, психогенетическая психотерапия, занимаюсь Многомерной Медициной ( Л. Г. Пучко), прохожу курс Жанны Абрамовой «Метафизика заболеваний».  Разрабатываю программу «Судьбы наших детей»'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = 'Мы с вами можем выяснить:';
//- Запросы. Массив
-qq1 = ['О чем сигналит болезнь или поведение вашего ребенка','Как ему помочь — на физическом, эмоциональном, энергетическом уровне','Если в семье напряженность, как с этим справиться','Если постоянно возникают однотипные негативные ситуации — как разрушить этот шаблон'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug