//- Имя
-name = 'Ревтюх Александра';
//- Аватар
-src= '../img/experts/revtyukh.a.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['Ведический психолог, медиум, парапсихолог, консультант в области глубинных каналов памяти души и тела, практик-терапевт энерготерапии Божественное Восстановление Тела (БВТ), практик Живы, Тета-хилер, регрессолог, МАК-терапевт (курс «МАК» Жанны Абрамовой)'];
//- Регалии, дипломы. Массив
-dd = ['Куратор курсов Ж. Абрамовой Академии МВ'];
//- Заголовок для запросов
-q_title = 'Владею технологиями:';
//- Запросы. Массив
-qq1 = ['Детские травмы, установки, убеждения и шаблоны поведения','Финансовые блоки и вопросы','Отношения, кармические узлы','Отношения в паре и любовные треугольники','Зависимости, манипуляции,психологические игры','Страхи, фобии, неврозы, соматические проблемы','Отношения с Родом Небесным и Родом Земным (Родовые задачи и предназначение в Роду)'];
//- Запросы 2й столбик. Массив
-qq2 = ['Обладаю Знаниями, которыми можно получить доступ в информационную библиотеку Вселенной на тета-уровне и там узнать многое','Исцеление женщины через куклу-мотанку','Очищение полынью','Связь с Божественным Миром, исцеление, обряды','Исцеление Рода, отношений с Родителями','Отношения МЖ','Работа с целительными потоками Живы, Свет Изначальный Исцеляющей(трансформирующей) Любви, работа с потоками Лакшери Рэйки, с лучами Архангелов, с Божественным Миром'];
//- Пост текст
-else_text = 'Помогаю восстановить ресурсы, найти новые возможности и привлечь желаемое'

include ../0.avatar.pug