//- Имя
-name = 'Гареева Ольга';
//- Аватар
-src= '../img/experts/gareeva.o.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['Практический семейный психолог, ','Женский тренер,','Обучающий тренер по работе с психологическими и МАК картами'];
//- Регалии, дипломы. Массив
-dd = ['практикующий дипломированный семейный психолог, женский тренер;','специалист по МАК и системно–полевым расстановкам;','консультант Академии MasterVision;','специалист по индивидуальным инициациям мужской и женской зрелости Института Мужчины и Женщины Татьяны Василец;','ведущая трансформационных психологических игр, мастер-классов и тренингов с использованием психологических карт линейки 1000 идей;','специалист по песочной терапии;','специалист эффективной краткосрочной терапии ориентированной на решение BSFT;'];
//- Заголовок для запросов
-q_title = 'Работаю с такими запросами как:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Как найти своего достойного мужчину для жизни и создать долговременные счастливые отношения;','Как выйти замуж во второй раз, имея детей от первого брака;','Семья на грани развода, опускаются руки, что делать;','Мы совсем перестали понимать друг друга, перестали говорить о том, что волнует каждого, разговоры свелись к решению бытовых вопросов. В остальное время просто молчим;','Муж не ценит, не поддерживает;'];
//- Запросы 2й столбик. Массив
-qq2 = ['Муж не обеспечивает, все на мне. Как ломовая лошадь. Устала от таких отношений:','Мы постоянно ругаемся, конфликты возникают прямо из ничего, на ровном месте;','Хочу, чтобы мужчина обеспечивал, почему этого не происходит, все приходится самой;','Как привлекать деньги и при этом не пахать по-мужски?;','Хочу снять внутренние запреты на получение денег и увеличение денежного потока;','Хочу осознать основные негативные модели поведения, связанные с деньгами и выйти из них;','и др. запросы в указанных выше темах'];
//- Пост текст
-else_text = 'Моя миссия, согласно предназначению: помогать людям, способствовать их процветанию, передавать сакральные знания, которые мне известны, иметь учеников, исцелять рода, воссоединять семьи и помогать им'

include ../0.avatar.pug