//- Имя
-name = 'Кирдун Татьяна';
//- Аватар
-src= '../img/experts/kirdun.t.jpg';
//- Заголовок к дипломам
-diplomas = 'Образование:';
//- Описание эксперта. Массив
-pp = ['Психолог, таролог, специалист по методу психотерапевтических и системных расстановок по методу Берта Хеллингера, «Терапия отправных точек» по работе с системными травмами и зависимостями, проецирующимися на финансовую сферу и отношения в жизни человека','Комплексная психотерапевтическая работа по психокоррекции и выходу из кризисных состояний'];
//- Регалии, дипломы. Массив
-dd = ['СПБ Финансовый Университет. Факультет ФиК (первые 12 лет моей трудовой практики как бухгал- тер-финансист аналитик). В процессе аудита внутренним миром людей и человеческой ресурс- ностью увлеклась более, чем инструментами эф- фективности экономики','СПБ АНО ВО Университет при Межпарламентской Ассамблее ЕврАзЭС (МиЭП). Факультет Психологии.   Специализировалась в НИИ Центрах СПБ как медицинский психолог, затем семейный. Общий практический стаж – более 20 лет'];
//- Заголовок для запросов
-q_title = 'С какими запросами работаю:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Карьера','Проблемные отношения в паре','Одиночество','Выбор, предназначения','Коррекция паттерных ситуаций','Постоянный слив денег','Трудно создать отношения','Прокрастинация'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug