//- Имя
-name = 'Крюкова Ольга';
//- Аватар
-src= '../img/experts/kryukova.o.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['Я закончила расширенный курс по Метафизике (Ж. Абрамова). Сейчас учусь на факультативах по расстановкам','Занимаюсь астрологией и картами Таро 22 года. Есть клиенты в России и за рубежом','Работаю с любым запросом, связанным с отношениями, работой, сменой места жительства. Сейчас применяю техники метафизики. Есть положительные результаты'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = '';
//- Запросы. Массив
-qq1 = '';
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug