//- Имя
-name = 'Ткаченко Ирина';
//- Аватар
-src= '../img/experts/tkachenko.i.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['Системный терапевт-расстановщик (курс «Метод терапевтических и духовных системных расстановок по Берту Хеллингеру» Жанны Абрамовой).  МАК-терапевт (курс «МАК» Жанны Абрамовой)','Педагог. Энергопрактик черезThetaHealing','Замужем 23 года, счастливая мама троих детей, оптимист по жизни. Найду ресурс в любой ситуации!'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = 'Буду полезна вам в запросах:';
-q_title_2 = 'В работе со мной:';
//- Запросы. Массив
-qq1 = ['Конфликты (между членами семьи, рабочие взаимо- отношения)','Семейные отношения (семейные кризисы, непони- мание супругов, детско-родительские отношения)','Одиночество и поиск избавления от него','Самооценка (самоопределение, ...)'];
//- Запросы 2й столбик. Массив
-qq2 = ['Люди возвращаются к жизни','Обретают уверенность и силы','Разрешают множество «безвыходных» проблем, даже тех, что из века в век передавались «по наследству»','Бережно, профессионально, эффективно'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug