//- Имя
-name = 'Гареева Ольга';
//- Аватар
-src= '../img/experts/gareyeva.o.jpg';
//- Заголовок к дипломам
-diplomas = '';
//- Описание эксперта. Массив
-pp = ['45 лет','Помогаю женщинам кому за 30, которые имеют жизненный опыт, имеют детей','Я работаю только с теми вопросами, которые знаю изнутри, успешно разрешила сама и что реально работает в долгосрочной перспективе'];
//- Регалии, дипломы. Массив
-dd = '';
//- Заголовок для запросов
-q_title = 'Немного о себе, я:';
-q_title_2 = 'Владею технологиями:';
//- Запросы. Массив
-qq1 = ['Практикующий дипломированный психолог, женский тренер, специалист по индивидуальным инициациям мужской и женской зрелости Института Мужчины и Женщины Татьяны Василец','Обучающий тренер по работе с психологическими картами линейки 1000 идей','Ведущая трансформационных психологических игр, мастер-классов и тренингов с использованием психологических карт линейки 1000 идей','Специалист по песочной терапии'];
//- Запросы 2й столбик. Массив
-qq2 = ['Специалист эффективной краткосрочной терапии ориентированной на решение BSFT','Поиск партнера и создание отношений','Отношения в паре','Деньги по-женски','Предназначение','Саморазвитие'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug