//- Имя
-name = 'Коколова Юлия';
//- Аватар
-src= '../img/experts/kokolova.y.jpg';
//- Заголовок к дипломам
-diplomas = 'После проработки вы получите пошаговый план действий по наработке новых навыков в жизни, которые позволят вам быть просто Женщиной и жить в гармонии и счастье!';
//- Описание эксперта. Массив
-pp = ['Здравствуйте, меня зовут Юлия. Я практикующий терапевт в области психосоматики заболеваний и различных состояний','Помогаю женщинам, которые хотят получать удовольствие от жизни, во всех её проявлениях.  Которые не чувствуют себя любимыми, важными, понятыми. Которые вместо любви к детям, часто испытывают агрессию. Работаю с болезнями, ощущением безысходности, постоянными сливами, с проблемой лишнего веса и поиском себя','Если вы всё тащите на себе или как белка в колесе и вся жизнь по кругу, если вам постоянно попадаются не те мужчины или партнеры, если у вас постоянные непонимания с детьми, мужем или родителями - приходите ко мне на сессию','Я работаю с теми, кто хочет быть здоровой, уверенной в себе, любящей и любимой женщиной'];
//- Регалии, дипломы. Массив
-dd = ['У Жанны Абрамовой прошла курсы - “Метафизика заболеваний” и “Расстановки”','Куратор курсов Ж. Абрамовой Академии МВ'];
//- Заголовок для запросов
-q_title = 'Поработав со мной, вы:';
//- Запросы. Массив
-qq1 = ['начнете просыпаться счастливой;','научитесь достигать желаемого;','станете вдохновением для своего мужчины;','сможете отдавать и получать без потерь;','избавитесь от разрушающих вас программ;','поймете себя и полюбите;','создадите гармоничные отношения в своей семье'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug