//- Имя
-name = 'Третьякова Ирина';
//- Аватар
-src= '../img/experts/trtyakova.y.jpg';
//- Заголовок к дипломам
-diplomas = 'Образование:';
//- Описание эксперта. Массив
-pp = ['Тета-практик, МАК-терапевт (у Жанны Абрамовой), терапевт по системным расстановкам (у Жанны Абрамовой), обучаюсь на Коучинге (у Жанны Абрамовой), нумеролог (Академия времени, автор Анатолий Шмульский)','34 года, замужем, двое детей','Вывела сама себя из глубокой, затяжной депрессии в связи с последними событиями в жизни'];
//- Регалии, дипломы. Массив
//- -dd = ['Экономист, СПБГАУ, 2001 г.','Психолог, красный диплом, МГЭИ, 2015 г.','МАК-терапевт, курс Жанны Абрамовой, студентка курсов «Расстановки» и «Коучинг»'];
-dd = '';
//- Заголовок для запросов
-q_title = 'Что умею:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['Помогу найти и раскрыть Ваши таланты','Избавлю от негативно-деструктивных убеждений, лежащих на поверхности','Помогу найти причины неоплачиваемости кредитов и расскажу, как с этим быть','Обладаю техникой «Исцеление в утробе матери»','Обладаю несколькими техниками завершения прошлых связей, что поможет Вам избавиться от груза прошлых, негативных отношений'];
//- Запросы 2й столбик. Массив
-qq2 = ['Помогу найти причину Ваших проблем, страхов и сказать им: «Прощай»','Помогу найти и наполниться ресурсами для решения текущей проблемы','Помогу определить, менять работу или остаться','Раскрыть свою женственность и творческий потенциал','Помогу увидеть истинную ситуацию и принять решение относительно отношений'];
//- Пост текст
-else_text = ''

include ../0.avatar.pug