//- Имя
-name = 'Сивак Наталья';
//- Аватар
-src= '../img/experts/sivak.n.jpg';
//- Заголовок к дипломам
-diplomas = 'Дипломы и сертификаты:';
//- Описание эксперта. Массив
-pp = ['39 лет, Зеленоград','Психолог, детский ИНП-психотерапевт, коуч'];
//- Регалии, дипломы. Массив
-dd = ['Институт инновационных психотехнологий — психолог','Удостоверение о повышении квалификации — детская ИНП — психотерапия','Сертификат ИИП — коды, языки и техники управления реальностью'];
//- Заголовок для запросов
-q_title = 'Специалист про работе:';
-q_title_2 = '';
//- Запросы. Массив
-qq1 = ['сметафорическими картами','расстановкам','подростковая и детская психотерапия','психотерапия родительских отношений','управление реальностью','постановка и достижение жизненных целей','психологическое консультирование','создание психологической готовности к достижению поставленных целей','решение социально-экономических проблем жизнедеятельности человека','консультирование жизненных выборов'];
//- Запросы 2й столбик. Массив
-qq2 = '';
//- Пост текст
-else_text = ''

include ../0.avatar.pug