section.expert
	.container
		h3.expert-name Хромяк Екатерина
		.about
			img(src='../img/experts/khromyak.e.jpg', alt='Хромяк Екатерина').about-name
			each p in ['Дипломированный практикующий психолог. Сертифицированный МАК-терапевт. Монтессори-педагог. Процессор «Метафизика — исцеление заболеваний»','Куратор курсов Ж. Абрамовой Академии МВ']
				p.about-text=p
		.row
			.col-md-4.col-sm-4
				h4.diplomas-title Образование
				ul.diplomas-list
					li МГА (2003 - 2007) Московская Государственная Академия, факультет психологии, специальность «психолог». Всеукраинская ассоциация педагогов Монтессори, специальность: монтессори-педагог
				h4.diplomas-title Тренинги и сертификаты:
				ul.diplomas-list
					li Курс МАК терапия
					li Системная психотерапия по Б. Хеллингеру
					li Основы транзактного анализа, терапия субличностей
					li Особенности работы с психосоматикой в системном подходе
					li Метафизика — исцеление заболеваний
			.col-md-4.col-sm-4
				h4.queries-title Я могу вам помочь, если:
				ul.queries-list
					each q1 in ['Вы оказались в сложной жизненной ситуации','У вас возникли проблемы психологического характера','Вы хотите изменить жизнь к лучшему и разобраться в себе']
						li=q1
				p.else-text Моя специализация — отношения
				h4.queries-title Основная цель моей работы:
				ul.queries-list
					li Помочь Вам разобраться с самим собой в вашей жизни
			.col-md-4.col-sm-4
				h4.queries-title Запросы, с которыми я работаю:
				ul.queries-list
					each q2 in ['Самопознание, поиск себя','Родительско-детские отношения, родовые сценарии, работа с установками','Отношения внутри супружеской пары','Отношения со старшим поколением']
						li=q2
		+b('button-dark button-expert','../#prices','Записатся','')